.clear{
    clear: both;
}

#mem_title{
    width: 700px;
    height: 25px;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: solid 2px #1b894d;
}

#mem_form{
    width: 700px;
    margin-left: 20px;
    font-family: 돋움;
    font-size: 12px;
    color: #888888;
    padding-top: 5px;

}
.row{
    clear: both;
    height: 30px;
    margin-top: 10px;
    border-bottom: solid 1px #cccccc;
}
input{
    width: 80px;
    height: 16px;
    border: solid 1px #cccccc;
}
select{
    width: 80px;
    height: 20px;
    border: solid 1px #cccccc;
    font-size: 12px;
}
.col1 * {
    float: right;
    margin: 0 1px;
}
.col1{
  float: left;
    width: 120px;
    text-align: right;
    margin-right: 15px;
}
.col2 * {
    float: left;
    margin: 0 1px;
}
.col2{
  /* float: right; */
    margin-left: 10px;
}
#buttons {
    margin-top: 20px;
    margin-left: 20px;
    width: 700px;
    text-align: center;
}